base-url: "{{ ntfy_base_url }}"
upstream-base-url: "{{ ntfy_upstream_base_url }}"
cache-file: "{{ ntfy_cache_file }}"
auth-file: "{{ ntfy_auth_file }}"
attachment-cache-dir: "{{ ntfy_attachment_cache_dir }}"
{% if ntfy_webpush_public_key | length > 0 and ntfy_webpush_private_key | length > 0 %}
web-push-public-key: "{{ ntfy_webpush_public_key }}"
web-push-private-key: "{{ ntfy_webpush_private_key }}"
web-push-file: "{{ ntfy_webpush_file }}"
web-push-email-address: "{{ ntfy_webpush_email }}"
{% endif %}
